*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fahkwang", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a3021;
}

.map {
  /* width: 100%; */
  max-width: 1200px;
  overflow: hidden;
}
.map .map-img img {
  transition: all 1.5s ease;
  transform: scale(1);
}
.map .map-img.zoom img {
  transform: scale(1.3);
}
.map .map-img-detail {
  width: calc(100% - 370px) !important;
}

.map .map-img-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-wrapper {
  position: relative;
  height: 670px;
}
.map-wrapper .marker-wrapper {
  position: absolute;
  inset: 0;
}

.map-wrapper .marker {
  position: absolute;
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: all 1.5s ease;
  transition-delay: 0.2s;
  z-index: 111;
}
.map-wrapper .marker .marker-content {
  display: flex;
}
.map-wrapper .marker .number-marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4a3021;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.2);
}
.map-wrapper .marker .name-city {
  color: #4a3021;
}
.map-wrapper .marker:hover .name-city {
  color: #d9a952;
  transition-delay: 0.5s;
}
.map-wrapper .marker .name-city {
  transform: translateY(-5px);
}
.map-wrapper .marker.hidden {
  opacity: 0;
  visibility: hidden;
}
.map-wrapper .marker.dn .marker-content {
  width: 241px;
}
.map-wrapper .marker.ha .marker-content {
  width: 225px;
}
.map-wrapper .marker.pt .marker-content {
  width: 250px;
}
.map-wrapper .marker.nt .marker-content {
  width: 210px;
}
.map-wrapper .marker .marker-content {
  position: relative;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.map-wrapper .marker.nt .marker-content::after {
  width: 182px;
}
.map-wrapper .marker .marker-content::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 0px;
  background-color: #4a3021;
  top: 50%;
  left: 28px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.map-wrapper .marker .marker-content::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 213px;
  background-color: #4a3021;
  top: 50%;
  left: 28px;
  z-index: -2;
}
.map-wrapper .marker:hover .marker-content::before {
  width: 213px;
}
.map-wrapper .marker:hover {
  cursor: pointer;
}
.map-wrapper .marker:hover .marker-content::before {
  background-color: #d9a952;
}
.map-wrapper .marker:hover .marker-content::after {
  color: #d9a952;
}
.map-wrapper .marker.ha:hover .marker-content::after {
  color: #d9a952;
}

.map-wrapper .marker.dn {
  top: 50%;
  left: 50%;
  transform: translate(-10px, -7px);
}

.map-wrapper .marker.ha {
  top: 56%;
  left: 50%;
  transform: translate(5px, -7px);
}
.map-wrapper .marker.ha .marker-content::after {
  width: 198px;
}

.map-wrapper .marker.ha:hover .marker-content::before {
  width: 198px;
}
.map-wrapper .marker .marker-content::after {
  width: 222px;
}
.map-wrapper .marker.dn .marker-content::after {
  width: 213px;
}
.map-wrapper .marker.nt:hover .marker-content::before {
  width: 182px;
}

.map-wrapper .marker.pt:hover .marker-content::before {
  width: 222px;
}

.map-wrapper .marker.ha:hover .marker-content::after {
  width: 198px;
}

.map-wrapper .marker.nt {
  top: 67%;
  left: 50%;
  transform: translate(22px, -25px);
}

.map-wrapper .marker.pt {
  top: 80%;
  left: 50%;
  transform: translate(-20px, -25px);
}

.map-wrapper .map-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #dbdbdb;
  opacity: 0;
  visibility: hidden;
  transition: all 0.9s ease;
  transition-delay: 0.4s;
}

.map-wrapper .map-content.show {
  opacity: 1;
  visibility: visible;
  /* overflow: hidden; */
  z-index: 10;
}

.map-wrapper .map-img {
  position: relative;
  height: 100%;
}
.map-wrapper .map-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-wrapper .icon-close {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 99;
  transition: all 0.3s;
}
.map-wrapper .icon-close:hover {
  cursor: pointer;
}
.map-wrapper .icon-close svg > * {
  transition: all 0.3s;
}
.map-wrapper .icon-close:hover svg path {
  fill: #fff;
}
.map-wrapper .icon-close:hover svg rect {
  fill: #d9a952;
}

.map-wrapper .icon-close.mobile {
  right: 0;
  display: none;
}

.map-wrapper .location {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  width: 100%;
}

.map-wrapper .location .location-content {
  padding: 40px;
  height: 100%;
}

.map-wrapper .location .location-content .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-wrapper .location .location-content .content .content-top h3 {
  font-size: 22px;
  line-height: 32px;
  color: #4a3021;
  margin-bottom: 12px;
  font-weight: 400;
}

.map-wrapper .location .location-content .content .content-top p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #4a3021;
}

.map-wrapper .location .location-content .content .content-bot {
  margin-top: auto;
}

.map-wrapper .location .location-content .content .content-bot a {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 24px;
  border: 1px solid #a59890;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #4a3021;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.map-wrapper .location .location-content .content .content-bot a:hover {
  color: #fff;
  background-color: #4a3021;
  border: 1px solid #4a3021;
}

.map-wrapper .map-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
/* marker detail phan thiet */
.map-wrapper .marker-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-135px, -40px);
}
.map-wrapper .marker-detail.pt {
  transform: translate(-124px, -59px);
}
.map-wrapper .marker-detail:hover {
  cursor: pointer;
}

.map-wrapper .marker-detail svg path {
  transition: all 0.4s;
}
.map-wrapper .marker-detail:hover svg path {
  fill: #d9a952;
}

.map-wrapper .marker-detail.active svg path {
  fill: #d9a952;
}
/* css marker map detail nha trang */
.map-wrapper .map-content.nt .marker-detail.nt-1 {
  transform: translate(45px, 7px);
  z-index: 2;
}

.map-wrapper .map-content.nt .marker-detail.nt-2 {
  transform: translate(25px, -9px);
  z-index: 1;
}

.map-wrapper .map-content.nt .marker-detail.nt-3 {
  transform: translate(20px, -70px);
  z-index: 1;
}
/* end css marker map detai nha trang */

/* css marker detail map da nang */
.map-wrapper .map-content.dn .marker-detail.dn-1 {
  transform: translate(165px, 15px);
  z-index: 3;
}

.map-wrapper .map-content.dn .marker-detail.dn-2 {
  transform: translate(147px, -26px);
  z-index: 2;
}

.map-wrapper .map-content.dn .marker-detail.dn-3 {
  transform: translate(164px, -40px);
  z-index: 1;
}
/* end css marker detail map da nang */

/* css marker hoi an */
.map-wrapper .map-content.ha .marker-detail.ha-1 {
  transform: translate(-165px, 22px);
  z-index: 3;
}

.map-wrapper .map-content.ha .marker-detail.ha-2 {
  transform: translate(-140px, 30px);
  z-index: 2;
}

.map-wrapper .map-content.ha .marker-detail.ha-3 {
  transform: translate(-120px, 23px);
  z-index: 1;
}
.map-wrapper .map-content.ha .marker-detail.ha-4 {
  transform: translate(-10px, -35px);
  z-index: 1;
}
.map-wrapper .map-content.ha .marker-detail.ha-5 {
  transform: translate(20px, 10px);
  z-index: 1;
}
.map-wrapper .map-content.ha .marker-detail.ha-6 {
  transform: translate(25px, -60px);
  z-index: 1;
}
.map-wrapper .map-content.ha .marker-detail.ha-7 {
  transform: translate(70px, -20px);
  z-index: 1;
}

/* end css marker hoi an */
.map-wrapper .location {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  transform: translateX(100%);
}

.map-wrapper .location.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition-delay: 0.3s;
}

/* .map-wrapper .location.show {
  transition-delay: 0.5s;
} */

.map-wrapper .data-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 370px;
  height: 100%;
}

.map-wrapper .img-view {
  height: 267px;
}

.map-wrapper .img-view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-wrapper .location .location-content .content .content-bot p {
  display: none;
}
@media (max-width: 768px) {
  .map-wrapper .icon-close.mobile {
    display: block;
    transform: translate(0);
    width: 65px;
    height: 65px;
    left: unset;
  }
  .map-wrapper .data-content {
    width: 100%;
  }
  .map-wrapper .location .location-content .content .content-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .map-wrapper .location .location-content .content .content-bot p {
    margin-bottom: 0;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a59890;
    font-size: 10px;
    color: #4a3021;
  }
  .map-wrapper .icon-close {
    display: none;
  }
  .map-wrapper {
    position: relative;
    height: 570px;
  }
  /* .map-wrapper .marker .marker-content::before {
    width: 125px;
    right: -165px;
  } */
  .map-wrapper .marker .marker-content::after {
    right: -145px;
  }
  /* .map-wrapper .marker.ha .marker-content::before {
    width: 100px;
    right: -135px;
  } */
  .map-wrapper .marker.ha .marker-content::after {
    right: -115px;
  }
  .map-wrapper .marker.nt {
    transform: translate(45px, -50%);
  }
  /* .map-wrapper .marker.nt .marker-content::before {
    width: 80px;
    right: -130px;
  } */
  .map-wrapper .marker.nt .marker-content::after {
    width: 97px;
  }
  .map-wrapper .marker.pt {
    transform: translate(20px, -30px);
  }
  /* .map-wrapper .marker.pt .marker-content::before {
    width: 105px;
    right: -159px;
  } */
  .map-wrapper .marker.pt .marker-content::after {
    width: 122px;
  }

  .map-wrapper .map-content.dn .marker-detail.dn-1 {
    transform: translate(63px, 20px);
  }

  .map-wrapper .map-content.dn .marker-detail.dn-2 {
    transform: translate(50px, -20px);
  }

  .map-wrapper .map-content.dn .marker-detail.dn-3 {
    transform: translate(53px, -40px);
  }

  .map-wrapper .map-content.ha .marker-detail.ha-1 {
    transform: translate(-90px, 8px);
    z-index: 3;
  }

  .map-wrapper .map-content.ha .marker-detail.ha-2 {
    transform: translate(-67px, 15px);
    z-index: 2;
  }

  .map-wrapper .map-content.ha .marker-detail.ha-3 {
    transform: translate(-45px, 10px);
    z-index: 1;
  }
  .map-wrapper .map-content.ha .marker-detail.ha-4 {
    transform: translate(44px, -40px);
    z-index: 1;
  }
  .map-wrapper .map-content.ha .marker-detail.ha-5 {
    transform: translate(75px, -5px);
    z-index: 1;
  }
  .map-wrapper .map-content.ha .marker-detail.ha-6 {
    transform: translate(80px, -75px);
    z-index: 1;
  }
  .map-wrapper .map-content.ha .marker-detail.ha-7 {
    transform: translate(120px, -30px);
    z-index: 1;
  }

  .map-wrapper .map-content.nt .marker-detail.nt-1 {
    transform: translate(30px, 0px);
    z-index: 3;
  }

  .map-wrapper .map-content.nt .marker-detail.nt-2 {
    transform: translate(25px, -30px);
    z-index: 2;
  }

  .map-wrapper .map-content.nt .marker-detail.nt-3 {
    transform: translate(20px, -70px);
    z-index: 1;
  }
  .map-wrapper .map-content.pt .marker-detail {
    transform: translate(-85px, -30px);
    z-index: 1;
  }
  .map-wrapper .marker.dn {
    transform: translate(7px, -10px);
  }
  .map-wrapper .marker.ha {
    transform: translate(35px, -30%);
  }
  .map .map-img-detail {
    width: 100% !important;
  }
  .map-wrapper .marker.dn .marker-content::after {
    width: 135px;
  }
  .map-wrapper .marker.dn .marker-content {
    width: 163px;
  }
  .map-wrapper .marker.ha .marker-content {
    width: 135px;
  }
  .map-wrapper .marker.ha .marker-content::after {
    width: 107px;
  }
  .map-wrapper .marker.nt .marker-content {
    width: 126px;
  }
  .map-wrapper .marker.pt .marker-content {
    width: 150px;
  }
  .map-wrapper .marker.dn:hover .marker-content::before {
    width: 135px;
  }
  .map-wrapper .marker.ha:hover .marker-content::before {
    width: 107px;
  }
  .map-wrapper .marker.nt:hover .marker-content::before {
    width: 97px;
  }
  .map-wrapper .marker.pt:hover .marker-content::before {
    width: 123px;
  }
  .map-wrapper .map-content.pt .marker-detail {
    transform: translate(-82px, -32px);
  }
  /* .map-wrapper .marker.ha .marker-content::after {
    width: 107px;
  } */
  .map-wrapper .marker.ha:hover .marker-content::after {
    width: 107px;
  }
}
